@import url("./loginSignUp.css");
@import url("./Dashboard.css");

* body {
  margin: 0px;
  padding: 0px;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


