* body {
  margin: 0px;
  padding: 0px;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

.container {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cred {
  width: 300px;
  height: auto;
}

.btn {
  margin-top: 10px;
  padding: 10px 80px;
}

.text { 
  margin-bottom: 10px;
}

.link {
  font-size: 14px;
  cursor: pointer;
}

.link:hover {
  color: dodgerblue;
}

.link:active {
  color: #000;
}

.todo {
  padding: 20px 30px;
  margin: 2px;
  border-radius: 5px;
  width: 60vw;
  border:0.3px solid #fff;
}

.todo:hover {
  background-color: azure;
  border:0.3px solid #000;
}

.bin {
  height: 20px;
  width: 20px;
  float: right;
  padding: 7px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: -7px;
}

.bin:hover {
  background-color: rgb(255, 0, 0, 0.6);
}

.edit {
  height: 20px;
  width: 20px;
  float: right;
  padding: 7px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: -7px;
}

.edit:hover {
  background-color: rgba(208, 228, 135, 0.6);
}

.todoContainer {
  border: 1px solid #000;
}

.editTodoInput {
  height: 200px;
  width: 300px;
  margin-left: -50px;
}

.addTodoContainer{
  float: right;
  margin-top: -60px;
  cursor: pointer;
  border-radius: 5px;
}

.add {
  padding: 10px;
  border: 1px solid #000;
  float: left;
  cursor: pointer;
  border-radius: 5px;
  
}

add:hover{
  background-color: cornflowerblue;
}

.addTodo {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.addTodo:hover {
  background-color: cornflowerblue;
}

.addTodoContainer label :hover {
  background-color: cornflowerblue;
}

.addTodoContainer label {
  margin-left: 5px;
  font-size: 22px;
  cursor: pointer;
}

.logout {
  margin-left: 10px;
  border: 1px solid #000;
  padding: 10px 25px;
  float: right;
  border-radius: 5px;
}

.logout:hover {
  border-radius: 5px;
  background-color: cornflowerblue;
}

/* ******************************************* */